public_html/playaslpgc.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT response (resources)*>
<!ATTLIST response
    xmlns CDATA #IMPLIED
    xsi:schemaLocation CDATA #IMPLIED
    xmlns:xsi CDATA #IMPLIED
  >

<!ELEMENT resources (resource)*>
<!ATTLIST resources
    name CDATA #IMPLIED
  >

<!ELEMENT resource (str|date)*>

<!ELEMENT str (#PCDATA)>
<!ATTLIST str
    name CDATA #IMPLIED
  >

<!ELEMENT date (#PCDATA)>
<!ATTLIST date
    name CDATA #IMPLIED
  >
